@{
    ViewBag.Title = "Acerca de la Universidad Tecnologica de la Huasteca Hidalguense";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        Reseña Histórica
    </p>

    <p>
        Última actualización: Lunes, 30 de Noviembre de -0001
    </p>

    <p>
        En 1989 el Gobierno Federal, a través de la Secretaría de Educación Pública (SEP), realizó una profunda investigación para analizar y evaluar los tipos de educación superior disponibles tanto en instituciones públicas como privadas. Se detectó una importante incompatibilidad entre las necesidades de los jóvenes estudiantes y las del sector productivo, así como rezago en las opciones existentes para continuar su preparación profesional.
        Ello motivó el estudio educativo en países de alto desarrollo económico, tecnológico e industrial tales como; Japón con sus Colegios Técnicos; Gran Bretaña y sus Institutos Politécnicos; Francia con su Sistema de Institutos Universitarios de Tecnología; los Colegios Comunitarios de los Estados Unidos de América; y las Escuelas de Formación Técnica de Alemania. Fue en esta búsqueda donde se encontró la modalidad que desde hace varias décadas ha prestado un gran servicio a los sectores productivos de cada nación y al mismo tiempo, ha permitido a los estudiantes elevar satisfactoriamente sus expectativas de formación académica y desempeño profesional.
    </p>
    <p>    Como resultado de dichos estudios, se decidió la creación de un nuevo esquema de educación superior en México, bajo las siguientes premisas:
        * Ofrecer a los egresados de educación media superior la oportunidad de poder desarrollar estudios de educación superior en un tiempo menor (2 años) al utilizado en las licenciaturas en el sistema tradicional (4 O 5 años).
        * Vincular la estructura de los planes y programas de estudios de las nuevas opciones educativas con las necesidades reales de los diferentes sectores productivos.
        * Partir de una filosofía de excelencia y calidad en el diseño y operación de los planes y programas de estudio.
        * Promover la participación activa de los diferentes sectores productivos en la formulación del currículo de las carreras, así como en la operación académica y administrativa de la institución.
        * Orientar la formación de los estudiantes con las necesidades y condiciones reales del entorno educativo.
        * Ubicar estratégicamente la oferta educativa, para responder a la demanda de aquellas regiones para las cuales el acceso a otras instituciones fuera complicado.
        * Generar recursos propios a través del cobro de colegiaturas y de la prestación de diversos servicios a los diferentes sectores productivos con el objeto de buscar un alto grado de autosuficiencia financiera de las instituciones.
    </p>
    <p>
        Dichas premisas han implicado, a su vez, la realización de investigaciones macro y micro - regionales; así como estudios laborales, socioeconómicos, de oferta y demanda educativa. Lo anterior a fin de detectar en las diversas regiones del país, las necesidades educativas de la sociedad y los perfiles profesionales requeridos por el sector productivo. Bajo este esquema, ha sido posible determinar las prioridades educativas, respecto al tipo de oferta que se debe instalar y su ubicación.
    </p>
    <p>
        Es así como la SEP, en coordinación con los Gobiernos Estatales, acordó la creación de las Universidades Tecnológicas, cuyo objetivo fundamental es: Desarrollar la educación tecnológica superior posterior al bachillerato con duración de dos años, mediante la participación de planes y programas de estudios a lo largo de seis cuatrimestres, equivalentes a tres mil horas de estudio, y que conlleva a la obtención del título de Técnico Superior Universitario”.
        El modelo educativo de las Universidades Tecnológicas se orientó para ofrecer a los estudiantes que habían concluido su educación media superior, una alternativa de formación profesional que les permitiera incorporarse en el corto plazo al trabajo productivo; considerando que esta modalidad de estudios surgió, además, con la finalidad de dotar de recursos humanos a los sectores productivos.
    </p>
    <p>
        Su operación se concibió para ser implementada en cuatro niveles, a saber: enseñanza teórica orientada al aprendizaje de conocimientos científicos, tecnológicos y humanísticos; trabajos dirigidos a la solución de problemas teórico Â– práctico; enseñanza de métodos instrumentales para desarrollar aptitudes y técnicas; y trabajo en equipo para el estudio de casos, incluyendo la participación en proyectos académicos.
    </p>
    <p>
        El propósito de establecer estos niveles fue evaluar el saber (conocimientos), el saber hacer (aptitudes) y el saber ser (actitudes).
    </p>
    <p>
        En este contexto y para que el modelo cumpla con su cometido, se estableció como condición básica sustentar su prestigio en la calidad de los estudios que se imparten, así como en la efectividad de las acciones de vinculación que se realizan.
    <p />
    <p>
        De esta manera, cada universidad asume el concepto de calidad como su misión; por lo que, tanto los estudiantes como los profesores, más allá¡ del cumplimiento de programas, horarios y reglamentos, tienen la responsabilidad de involucrarse con los fines de la Institución y se comprometen a responder eficazmente a las necesidades económicas y sociales de su región y de su país.
    </p>
    <p>
        Se instituyó la vinculación con el sector productivo de bienes y servicios, con el propósito de regular la pertinencia de los planes y programas de estudio, para que la enseñanza y el aprendizaje se realicen en congruencia con los requerimientos de los diferentes sectores productivos de referencia.
    </p>
    <p>
        Asimismo, el proceso educativo se diseñó bajo los siguientes ejes rectores:
        * Enseñanza práctica 70% y enseñanza teórica 30%.
        * Formación general 80% y formación especializada 20%.
        * Vinculación permanente universidad Â– empresa.
    </p>
    <p>
        La proliferación de Universidades Tecnológicas en el país, en gran parte se debe a su enfoque práctico y a los resultados que han arrojado en su conjunto, por lo que es importante resaltar los atributos con los que nació este novedoso modelo:
        * Intensidad en el proceso educativo, con el fin de buscar la optimización del tiempo para formar, en un periodo de dos años, los recursos humanos requeridos por las empresas.
        * Pertinencia entre los planes y programas de estudios, los cuales fueron estructurados con base a las necesidades reales de los diferentes sectores productivos de cada entorno universitario.
        * Flexibilidad en la currículo para poderse adecuar a los constantes cambios científicos, mediante un esquema de autorregulación que permitiera el cierre de carreras que no cumplieran con la demanda de los sectores productivos, y la apertura oportuna y acertada de nuevas carreras con las que sí se puedan cubrir las necesidades de la región.
        * Polivalencia para que el estudiante logre su incorporación al mercado de trabajo en diferentes Ámbitos profesionales.
        * Continuidad para que el estudiante tenga la posibilidad de seguir en forma permanente sus estudios de especialización.
    </p>
    <p>
        Las categorías de instrumentación se basan en una rigurosa selección de los aspirantes; un fuerte impulso y apoyo al autoaprendizaje; el cumplimiento estricto de los programas; una educación integral y participativa con un amplio apoyo académico; así como el fomento dinámico a la investigación y desarrollo tecnológico; la prestación de servicios externos; y una adecuada y oportuna certificación. Respecto a la evaluación del aprendizaje, siempre se considera que Ésta debe ser sistemática, continua, flexible, regresiva y prospectiva.
    </p>
    <p>
        La educación tiene grandes objetivos y las instituciones de educación superior son, sin lugar a dudas, una parte fundamental en este proceso de cambio, impulso y transformación social de nuestra entidad. Sin embargo, es una obligación de las autoridades competentes evaluar qué tipo de acciones y qué modalidades de instituciones educativas son las más adecuadas para cada caso, precisamente para potenciar el factor de cambio que significa una universidad e incrementar con ello el grado de eficiencia con que se aplican los recursos del pueblo a la satisfacción de las diversas necesidades regionales. De manera tal que esa ha sido una de las tareas a las que se ha dedicado el Instituto Hidalguense de Educación Media Superior y Superior: la planeación y puesta en marcha de un ambicioso programa en materia educativa.
    </p>
    <p>
        Sabemos que los grandes propósitos, para lograrse, tienen que estar articulados a formas específicas de instrumentación y existen maneras diversas de alcanzarlos. La riqueza y pluralidad cultural de nuestro estado son, en ese sentido, una gran escuela de la cual hemos aprendido y en la cual debemos seguir abrevando. Por eso, para enfrentar el reto de la educación, hemos adoptado diversos enfoques, ya que nuestra realidad es compleja y una respuesta Única es imposible. En Hidalgo las distintas problemáticas regionales nos exigen respuestas y propuestas que partan, en primer lugar, del conocimiento de esa diversidad regional y esa ha sido la característica fundamental que ha guiado la propuesta de las Universidades Tecnológicas en la entidad.
    </p>
    <p>
        Las Universidades Tecnológicas fueron diseñadas por las autoridades federales para implementarse en medios urbanos, preferentemente industriales, dentro de una lógica de impulso y capacitación del capital humano requerido por las empresas. Estos propósitos tienen plena vigencia en ciertas zonas del país. Es bajo esta lógica que la Universidad Tecnológica de Tula - Tepeji fue puesta en funcionamiento. Gracias a ese primer acercamiento, se pudo detectar que la nobleza del proyecto de Universidad Tecnológica podía ser enriquecido si ese modelo de institución era rediseñado para dar una respuesta eficaz a las aspiraciones de educación en regiones del estado que presentan características productivas diferentes.
    </p>
    <p>
        Cuando se puso en marcha la Universidad Tecnológica de Tulancingo, se inició un primer proceso de cambio, pues en este caso se trataba ya de un medio industrial y agropecuario al mismo tiempo. El siguiente paso fue la Universidad Tecnológica del Valle del Mezquital y fue con ella con la que se dio el gran salto; con la que se innovó y enriqueció el modelo de este tipo particular de instituciones de educación superior.
    </p>
    <p>
        Más tarde la Universidad Tecnológica de la Huasteca Hidalguense (UTHH), con las anteriores experiencias ganadas, realizó un estudio socio - histórico, micro y macro - regional de la Huasteca muy completo para el cual los expertos realizaron diagnósticos de las necesidades manifiestas de la región logrando incorporar las aspiraciones y opiniones de los potenciales usuarios de esta universidad: estudiantes, empleadores y productores; de manera tal que la Universidad Tecnológica de la Huasteca Hidalguense no sólo significa la implantación de un centro educativo en una región clave de nuestro Estado, sino también la posibilidad de acercar y difundir los avances de carácter tecnológico a un medio rural.
        La Universidad Tecnológica de la Huasteca Hidalguense, abrió sus puertas en enero de 1997, siendo la número cuatro en el Estado de Hidalgo; cabe resaltar la iniciativa Hidalguense de transformar el concepto de Universidad Tecnológica de Desarrollo, como innovación para las zonas marginadas con un incipiente sector productivo, en contraste con todas las anteriores universidades que fueron fundadas donde existe un sector productivo muy importante en su entorno.
        Por su ubicación, el tipo de carreras, el carácter intensivo de sus planes y programas de estudios, así como el bajo costo económico de las colegiaturas la UTHH representó desde sus inicios, una alternativa accesible para los jóvenes de la región.
    </p>
</article>