@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>Teléfono</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span>789 8962088 al 91</span>
    </p>
</section>
<br><br><br>
<section class="contact">
    <header>
        <h3>Dirección</h3>
    </header>
    <p>
        Carretera Huejutla - Chalahuiyapa S/N<br />
        C.P. 43000, Huejutla de Reyes
    </p>
</section>
<br><br><br><br><br><br><br><br><br>